.place-item__actions button,
.place-item__actions a{
    margin: 0.5rem;
}

.map-container{
    height: 20rem;
    width: 100%;
}

@media(min-width:786px){
    .place-item__image{
        height: 20rem;
    }
}